
.header {
    background-color: lightgrey;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0;

}
.header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    background-color: lightgrey;
    width: 100%;
    z-index: -50;
}

.logo {
    height: 80px;
    margin-left: 30px;
    align-items: center;
}

body {
    width: 1200px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.main {
    height: 538px;
}
.current__question {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current__question__card {
    margin-left: 30px;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #daeaff;
    padding: 20px 5px 20px 5px;
    border-radius: 10px;
    margin-top: 60px;
}

.logo__question{
    color: black;
    font-size: 18px;
}

.question {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.question__text {
    width: 800px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    background-color: lightgrey;
    color: #000;
    border-radius: 10px;
    padding: 4px 0 4px 30px;
}

.answer__line {
    margin-top: 40px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer {
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    margin-left: 0;
    margin-right: 10px;
    background-color: lightgrey;
    border-radius: 20px;
}
.answer__text {
    margin-left: 0;
    margin-right: 30px;

}
.answer__text:hover {
    color: #2372ff;
    transition: 0.2s;
    cursor: pointer;
}



.text {
    font-size: 14px;
}

.answer__text {
    margin-left: 20px;
    width: 100px;
}


.confirm__button__line {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    color: black;
    border-radius: 10px;

}

.button:hover {
    cursor: pointer;
    opacity: .8;
}

.button:active{
    background-color: white;
    transition: 0.2s;
}

.number {
    display: flex;
    align-items: center;
    margin-left: 800px;
    margin-bottom: 40px;
}

.technical__support {
    font-size: 16px;

}

.tel {
    font-size: 14px;
    margin-left: 10px;
}

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: lightgrey;
}

.footer-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    background-color: lightgrey;
    width: 100%;
    z-index: -50;
}
.sign-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.sign-form {
    width: 500px;
    height: 300px;
    background-color: lightgrey;
    border-radius: 5px;
    -webkit-box-shadow: 17px 18px 11px 0 rgba(34, 60, 80, 0.29);
    -moz-box-shadow: 17px 18px 11px 0 rgba(34, 60, 80, 0.29);
    box-shadow: 17px 18px 11px 0 rgba(34, 60, 80, 0.29);
}

.sign-form__title {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.sign-form__input {
    margin: 20px 30px 0 30px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    height: 30px;
}

input {
    border: none;
    margin: 0 8px 0 8px;
    width: 100%;
    padding-left: 5px;
    outline: none;
}


.sign-form__button {
    margin-left: 190px;
    margin-top: 40px;
    height: 40px;
    width: 120px;
}

.btn-blue {
    background-color: lightgrey;
}

.btn-blue:hover {
    background-color: white;
    transition: .2s;
    cursor: pointer;
}

.sign-up {
    height: 350px;
}