<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Test</title>
    <link rel="icon" th:href="@{/images/logo-png.png}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="d-flex vh-100 flex-column container-xxl" data-bs-theme="dark">
<header>
    <div th:insert="~{fragment/header.html :: header (isAuthenticated=${isAuthenticated}, name=${name})}"></div>
</header>
<main>
    <form method="post" th:action="@{/admin/upload}" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-3">
                <label for="file">Choose a profile picture:</label>
                <input type="file" class="mt-1" id="file" name="file" accept="text/csv" />
                <button type="submit" class="btn mt-3 btn-outline-primary">Upload</button>
            </div>
        </div>
    </form>
    <div class="row justify-content-center mt-3">
        <div class="col-7 text-start">
            <p th:utext="${result}"></p>
        </div>
    </div>
</main>
<footer th:insert="~{fragment/footer.html :: footer}" class="mt-auto"></footer>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/color-modes.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>