<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Test</title>
    <link rel="icon" href="/images/logo-png.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex vh-100 flex-column container-xxl" data-bs-theme="dark">
<header>
    <div th:insert="~{fragment/header.html :: header (isAuthenticated=${isAuthenticated}, name=${name})}"></div>
</header>
<main>
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="upload-tab" data-bs-toggle="tab" data-bs-target="#upload"
                    type="button"
                    role="tab" aria-controls="upload" aria-selected="false">Upload
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="change-tab" data-bs-toggle="tab" data-bs-target="#change"
                    type="button" role="tab" aria-controls="change" aria-selected="false">
                <span><a href="/admin/change">Change</a></span>
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active fade justify-content-center" id="upload" role="tabpanel"
             aria-labelledby="upload-tab"
             tabindex="0">
            <form method="post" action="/admin/upload" enctype="multipart/form-data" class="mt-4">
                <div class="row justify-content-center">
                    <div class="col-3">
                        <label for="file">Choose a profile picture:</label>
                        <input type="file" class="mt-1" id="file" name="file" accept="text/csv" />
                        <button type="submit" class="btn mt-3 btn-outline-primary">Upload</button>
                </div>
                </div>
            </form>
            <div class="row justify-content-center mt-3">
                <div class="col-7 text-start">
                    <p th:utext="${result}"></p>
                </div>
            </div>
        </div>
        <div class="tab-pane show active fade justify-content-center" id="change" role="tabpanel"
             aria-labelledby="change-tab"
             tabindex="0">

        </div>
    </div>
</main>
<footer th:insert="~{fragment/footer.html :: footer}" class="mt-auto"></footer>
<script src="/js/bootstrap.js"></script>
<script src="/js/color-modes.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>