<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Test</title>
    <link rel="icon" th:href="@{/images/logo-png.png}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="d-flex vh-100 flex-column container-xxl" data-bs-theme="dark">
<header>
    <div th:insert="~{fragment/header.html :: header (isAuthenticated=${isAuthenticated}, name=${name})}"></div>
</header>
<main>
    <div class="row justify-content-center">
        <div class="col-3 text-center">
            <h1>The test is over</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-6 justify-content-center">
            <div class="text-center">
                Total questions: <span th:text="${endTestDto.totalTestQuestionQuantity}"></span>
            </div>
            <div class="text-center">
                Right answers: <span th:text="${endTestDto.rightAnswerQuantity}"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Question</th>
                    <th scope="col">Your Answer</th>
                    <th scope="col">Right Answer</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, itemStat : ${endTestDto.rightAnswers}"
                    th:classappend="${endTestDto.usersAnswers[itemStat.index].equals(endTestDto.rightAnswers[itemStat.index])} ? 'table-success' : 'table-danger'">
                    <th scope="row" th:text="${itemStat.index + 1}"></th>
                    <td th:text="${endTestDto.testQuestionSentences[itemStat.index]}"></td>
                    <td th:text="${endTestDto.usersAnswers[itemStat.index]}"></td>
                    <td th:text="${endTestDto.rightAnswers[itemStat.index]}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-6 text-center">
            <a th:href="@{/start}" class="btn btn-outline-primary">Go to new test or all your results</a>
        </div>
    </div>
</main>
<footer th:insert="~{fragment/footer.html :: footer}" class="mt-auto"></footer>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/color-modes.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>