<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo-png.png">
    <title>English Test</title>
</head>
<body>
<header>
    <div th:insert = "~{fragment/header.html :: header}"></div>
</header>
<main class="main">
    <div class="current__question">
        <div class="current__question__card">
            <h3 class="logo__question"> Question 5/10</h3>
        </div>
    </div>
    <div class="question">
        <div class="question__text">
            <p class="text">Person run ... the burglar</p>
        </div>
    </div>
    <div class="answer__line">
        <div class="answer">
            <label class="answer__text">
                <input type="radio" name="preposition">
                after
            </label>
            <label class="answer__text">
                <input type="radio" name="preposition">
                for
            </label>
            <label class="answer__text">
                <input type="radio" name="preposition">
                of
            </label>
            <label class="answer__text">
                <input type="radio" name="preposition">
                out
            </label>
        </div>
    </div>
    <div class="confirm__button__line">
        <div class="confirm">
                <button class="button">
                    Confirm answer
                </button>
        </div>
    </div>
</main>
<footer>
    <div th:insert = "~{fragment/footer.html :: footer}"></div>
</footer>
</body>
</html>