<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>English Test</title>
    <link rel="icon" th:href="@{/images/logo-png.png}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="d-flex vh-100 flex-column container-xxl" data-bs-theme="dark">
<header>
    <div th:insert="~{fragment/header.html :: header (isAuthenticated=${isAuthenticated}, name=${name})}"></div>
</header>
<main>
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="start-tab" data-bs-toggle="tab" data-bs-target="#start"
                    type="button"
                    role="tab" aria-controls="start" aria-selected="false">New Test
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history"
                    type="button" role="tab" aria-controls="history" aria-selected="false">History
            </button>
        </li>
        <li class="nav-item" role="presentation" th:if="${isAdmin.toString().equals('true')}">
            <button class="nav-link" data-bs-toggle="tab">
                <span><a th:href="@{/admin}">Admin</a></span>
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active fade justify-content-center" id="start" role="tabpanel"
             aria-labelledby="start-tab"
             tabindex="0">
            <div class="row justify-content-center mt-4">
                <div class="col-4">
                    <form method="post" th:action="@{/test/create}">
                        <select class="form-select h-auto" required th:name="verb">
                            <option value="">Please choose the verb</option>
                            <option
                                    th:each="topicVerb : ${topicVerbs}"
                                    th:value="${topicVerb.verb}"
                                    th:text="${topicVerb.verb}">
                            </option>
                        </select>
                        <div class="text-center">
                            <input type="submit" class="btn btn-outline-primary mt-3" value="Start">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab" tabindex="0">
            <div class="row justify-content-center mt-3">
                <div class="col-8">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Topic</th>
                            <th scope="col">Question Total</th>
                            <th scope="col">Right Answers</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, itemStat : ${historyDtoList}">
                            <th scope="row" th:text="${itemStat.index + 1}"></th>
                            <td th:text="${item.date}"></td>
                            <td th:text="${item.topicVerb}"></td>
                            <td th:text="${item.questionTotal}"></td>
                            <td th:text="${item.rightAnswersQuantity}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragment/footer.html :: footer}" class="mt-auto"></footer>

<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/color-modes.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/start.page.tab.js}"></script>
</body>
</html>