<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>English Test</title>
    <link rel="icon" href="/images/logo-png.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex vh-100 flex-column container-xxl">
<header>
    <div th:insert="~{fragment/header.html :: header}"></div>
</header>
<main>
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="start-tab" data-bs-toggle="tab" data-bs-target="#start"
                    type="button"
                    role="tab" aria-controls="start" aria-selected="false">New Test
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history"
                    type="button" role="tab" aria-controls="history" aria-selected="false">History
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active fade justify-content-center" id="start" role="tabpanel"
             aria-labelledby="start-tab"
             tabindex="0">
            <div class="row mt-3 justify-content-center">
                <div class="col-3">
                    <form method="post" action="/test/create">
                        <select class="form-select" required th:name="verb">
                            <option value="">Please choose the verb</option>
                            <option
                                    th:each="topicVerb : ${topicVerbs}"
                                    th:value="${topicVerb.verb}"
                                    th:text="${topicVerb.verb}">
                            </option>
                        </select>
                        <div class="text-center">
                            <input type="submit" class="btn btn-outline-primary mt-3" value="Start">
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab" tabindex="0">
                world
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{fragment/footer.html :: footer}" class="mt-auto"></footer>

<script src="/js/bootstrap.js"></script>
<script src="/js/color-modes.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/start.page.tab.js"></script>
</body>
</html>